body {
  background: #5f939a;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  background: #d8ac9c;
  padding: 10px 30px;
  border: 2px solid black;
  border-radius: 8px;
}
