.searchBox {
  margin-bottom: 10px;
  border-radius: 15px;
  border: 2px solid black;
}

.search-btn {
  border-radius: 15px;
}

.Location {
  background: #eac8af;
  border-radius: 15px;
  transition: all 200ms ease-in;
}
.Location:hover {
  background: #5f939a;
  color: #eac8af;
}

.City {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: capitalize;
}

.currentWeather {
  color: #191a19;
  font-family: "Oswald", sans-serif;
  font-size: 40px;
}
.iconTemp {
  position: relative;
  right: 15px;
}
.iconTemp img {
  height: 75px;
  width: 75px;
  position: relative;
  bottom: 5px;
}
.units {
  font-size: 20px;
  position: relative;
  bottom: 15px;
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
.weatherInfo {
  text-align: right;
  font-family: "Raleway", sans-serif;
  font-size: 20px;

  bottom: 95px;
}

.units:hover {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
.description {
  text-transform: capitalize;
}
